# Compiled source #
###################
*.o
*.so
*.a
*.exe
*.obj
cudaMultilabelOptimization/Makefile
cudaMultilabelOptimization/cudaMultilabelOptimization



# IDE #
#######
*.kdev4



# OUTPUTS FOLDERS #
###################
cudaMultilabelOptimization/Outputs/*
